<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.picke.dishnow_owner">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"

        android:theme="@style/AppTheme.NoActionBar">
        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <activity android:name=".Menu.FAQActivity"
            android:label=""
            android:screenOrientation="portrait"
            >

        </activity>
        <activity android:name=".Menu.ReceiptActivity"
            android:label=""
            android:screenOrientation="portrait"
            />
        <activity android:name=".Menu.MenuActivity"
            android:label=""
            android:screenOrientation="portrait"
            />

        <service android:name=".Utility.FireBaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".SigninActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Call.BookedActivity"
            android:label=""
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OPEN_BOOKACTIVITY"
                    />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_icon_logo" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="@string/default_notification_channel_id" />
        <meta-data android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/color_violet" />

        <activity
            android:name=".Call.CallActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="OPEN_CALLACTIVITY"
                    />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.JoinActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guide.JoinedActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.Registration_BusinessActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Utility.JusoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.VerificationActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.Registration_RestaurantActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.FindidpassActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.FindemailActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guide.RegisterGuideActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guide.JudgingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.Additional_InfoActivity"
            android:label=""
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.Change_PWActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Register.PW_FoundActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Guide.TermsActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Utility.TermsServiceActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Utility.TermsIndividualInfoActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Utility.TermsLocationActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Utility.TermsMarketingReceiveActivity"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".MyActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnWaitActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>